.svg1 {
  width: 500px;
  height: 500px;
  margin-bottom: -40px;
  position: fixed;
  left: 0;
  bottom: 0;
  padding: 0;
  animation: leftside 2.7s ease-in-out infinite alternate;
}

@keyframes leftside {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(20px);
  }
}

.svg2 {
  width: 400px;
  height: 450px;
  position: fixed;
  right: 0;
  top: 30;
  padding: 0;
  animation: rightside 2.5s ease-in-out infinite alternate;
}

@keyframes rightside {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-20px);
  }
}

@media only screen and (max-width: 760px) {
  .svg2 {
    width: 0;
    height: 0;
  }
}
